@font-face{
    font-family: 'Normal';
    src: url(../fonts/Rubik-Regular.ttf);
}
html{
    overflow-x: hidden;
}
body{
    height: 100vh;
    background-image: url(https://image.shutterstock.com/image-vector/vector-cartoon-style-underwater-background-260nw-1101950561.jpg);
    background-size: cover;
}
body:hover{
    transform: translateX(100px);
    transition: 5s;
    background-position-x: 1000px;
    transition: 20s;
}
a{
    color: white;
}
.coding{
    position: relative;
    background-image: url('../Images/fishy.png');
    background-size: cover;
    width: 400px;
    height: 225px;
    margin-top: 75px;
    margin-left: 100px;
    color: white;
}
.coding img{
    width: 200px;
    height: 215px;
}
.coding h1{
    font-size: 250%;
    text-align: center;
    position: absolute;
    top: 24%;
    left: 34%;
    margin-right: -50%;
    font-family: 'Normal';
}
.arizona{
    position: relative;
    background-image: url('../Images/fishy-2.png');
    background-size: cover;
    width: 400px;
    height: 200px;
    margin-top: -275px;
    margin-left: 800px;
    color: white;
}
.arizona img{
    width: 200px;
    height: 215px;
}
.arizona h1{
    font-size: 250%;
    text-align: center;
    position: absolute;
    top: 24%;
    left: 34%;
    margin-right: -50%;
    font-family: 'Normal';
}
.home{
    top: -100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.home a img{
    height: 382.5px;
    width:412.5px;
    margin-top: -200px;
    transform: translateY(236px);

}
.sand{
    width: 200%;
    transform: translateX(-300px) translateY(220px);
    height: 50px;
    top: 0;
    background: radial-gradient(rgb(248, 191, 141),rgb(233, 185, 144) );
}