/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    html{
    background-color: blue;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    html{
        background-color: yellow;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    html{
        background-color: rgb(190, 242, 255);
        margin-left: 75px;
        margin-right: 75px;
    }
    body{
        background: linear-gradient(#096192,rgb(190, 242, 255) );
    }
    header{
        text-align: center;
        text-decoration: underline;
        color: black;
        font-size: 200%;
        text-decoration-color: black;
        text-shadow: 1px 1px 5px white;
    }
    h1{
        text-decoration: underline;
    }
    h2{
        text-decoration: underline;
        text-align: center;
    }
    .logo{
        position: relative;
        width: 110px;
        height: 110px;
        top:0px;
        left: 0px;
        animation-name: logo;
        animation-duration: 10s;
        animation-iteration-count:infinite;
    }
    @-webkit-keyframes logo{
        0%   {left: 0px;}
        100% {left: 1245px;}
    }
    @keyframes logo{
        0%   {left: 0px;}
        100% {left: 1245px;}
    }
    .logo > html{
        margin-right: 100px;
    }
    nav{
        font-size: 200%;
        text-align: center;
       
    }
    a img{
        width: 15%;
        height: 120px;  
        
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 33% 33% 33%;
        background-color: #096192;
        grid-gap: 10px;
        font-size: 125%;
    }
    .main{
        border: black 4px solid;
        background-color: #24AAE2;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .aside{
        border: black 4px solid;
        background-color: #0E8C7F;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .aside img{
        width: 300px;
        height: 300px;
    }
    .item-1{
        border: black 4px solid;
        background-color: #1399C6;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .item-1 h1{
        text-decoration: underline;
        text-align: center;
    }
    .item-2{
        border: black 4px solid;
        background-color: #1399C6;
        grid-column: 2 / 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    footer{
        background-color: rgb(190, 242, 255) ;
    }
    footer p{
        text-align: center;
        font-size: 150%;
    }

    /* Animation code */

    .ocean{
        width: 100%;
    }

}